<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>103275221661-38jputdn0lh07hbd61jb7alifeek1ah7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.103275221661-38jputdn0lh07hbd61jb7alifeek1ah7</string>
	<key>API_KEY</key>
	<string>AIzaSyCzHM5tDmSFw8Ue3KZpsk9wddr71YMjaG0</string>
	<key>GCM_SENDER_ID</key>
	<string>103275221661</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>marcinmiszewski.mobileGarage</string>
	<key>PROJECT_ID</key>
	<string>mobile-garage-345</string>
	<key>STORAGE_BUCKET</key>
	<string>mobile-garage-345.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:103275221661:ios:3a3e6b49e982a31863fa74</string>
</dict>
</plist>